<div class="container text-center">
  <div class="row">
    <h1>About Me</h1>
  </div>
  <div class="row col-xs-8 col-xs-offset-2">
    <h5 class="well">I am a web developer and composer. I am currently in the Web Development Immersive program at General Assembly. When the program finishes I hope to work on server side JavaScript. On the client side I enjoy working in Angular and dabbling in Famo.us(this site for instance)</h5>
    <h4><a href="http://github.com/bivdub" target="_blank">Github</a> | <a href="http://linkedin/in/bivdub" target="_blank">LinkedIn</a></h4>
  </div>
</div>
